/*  
Thanks to: Usama Tahir
https://medium.com/@AmJustSam
*/

body {
	background: linear-gradient(-45deg, #234066, #22707c, #116265, #158371);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; 
    background-color: #000000; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

video, .btn{
	/*sombrear bordes*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}